<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<RollingFile name="FILE" fileName="/logs/twitter.log"
					 filePattern="/logs/archive/twitter.log.%d{yyyy-MM-dd-hh-mm}.gz">
			<PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %c{1} %M: %m%n"/>
			<TimeBasedTriggeringPolicy/>
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %c{1} %M: %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.memorynotfound" level="debug"/>
		<Root level="info">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="FILE"/>
		</Root>
	</Loggers>
</Configuration>