<!DOCTYPE html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body onload='document.f.username.focus();'>
<div class="wrapper col-md-2 col-md-offset-5">

    <h2 class="text-center">Login</h2>
    <form class="form-signin" method="post">
        <input type="text" class="form-control" name="username" placeholder="Username"/>
        <input type="password" class="form-control" name="password" placeholder="Password"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Login</button>
    </form>
    <div>
        <a href="/view/register.html">Register</a>
    </div>

</div>
</body>
</html>