<div ng-init="tweetCtrl.getTweets()">
    <div class="col-sm-12 sidenav">
        <div class="row">
            <h3>Tweet:</h3>
            <div class="input-group">
                <textarea class="form-control custom-control" rows="3" ng-model="tweetCtrl.tweetContent"
                          style="resize:none"></textarea>
                <span class="input-group-addon btn btn-primary"
                      ng-click="tweetCtrl.createTweet(tweetCtrl.tweetContent)">Send</span>
            </div>
        </div>
        <h3>Latest tweets:</h3>
        <div class="row" ng-repeat="tweet in tweetCtrl.allTweets">
            <my-tweet ctrl="tweetCtrl" tweet="tweet"></my-tweet>
        </div>
    </div>
</div>
