<div>
    <div class="col-sm-12 sidenav">
        <div class="row">
            <h3>Tweet:</h3>
            <div ng-init="tweetCtrl.getTweetById(tweetCtrl.routeParams.tweetId)">
                <my-tweet ctrl="tweetCtrl" tweet="tweetCtrl.selectedTweet"></my-tweet>
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <textarea class="form-control custom-control" rows="3" ng-model="tweetCtrl.commentContent"
                          style="resize:none"></textarea>
                <span class="input-group-addon btn btn-primary"
                      ng-click="tweetCtrl.createTweetComment(tweetCtrl.routeParams.tweetId, tweetCtrl.commentContent)">Send</span>
            </div>
        </div>
        <div ng-init="tweetCtrl.getCommentsFromTweetByTweetId(tweetCtrl.routeParams.tweetId)">
            <h3>Comments:</h3>
            <div class="row" ng-repeat="tweet in tweetCtrl.comments">
                <my-tweet ctrl="tweetCtrl" tweet="tweet"></my-tweet>
            </div>
        </div>
    </div>
</div>