<div ng-init="getFollowers();">
    <div class="col-sm-12 sidenav">
        <h3>Users that are following you!</h3>
        <div class="row" ng-repeat="usr in followers">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-8">
                        <h4>{{usr.username}}</h4>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>
                            {{usr.email}}
                            <br/>
                            <i class="glyphicon glyphicon-gift"></i>
                            {{usr.createDate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>