<div ng-init="getFollowing();">
    <div class="col-sm-12 sidenav">
        <div class="row">
            <h3>Users you are following!</h3>
            <div class="form-group">
                <label for="usr">Username:</label>
                <input type="text" class="form-control" id="usr" ng-model="username">
            </div>
            <div ng-repeat="usr in following | filter : username | orderBy: username">
                <div class="well well-sm">
                    <h4>{{usr.username}}</h4>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i>
                        {{usr.email}}
                        <br/>
                        <i class="glyphicon glyphicon-gift"></i>
                        {{usr.createDate}}
                    </p>
                    <div class="btn-group">
                        <button class="btn btn-primary" ng-click="unfollow(usr)">
                            Unfollow
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>