<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Twitter clone</title>
    <script src="/resources/bower_components/angular/angular.js"></script>
    <script src="/resources/bower_components/angular-route/angular-route.js"></script>
    <script src="/resources/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/resources/js/TwitterApp.js"></script>
    <script src="/resources/js/service/UserService.js"></script>
    <script src="/resources/js/controller/UserCtrl.js"></script>
    <script src="/resources/js/service/TweetService.js"></script>
    <script src="/resources/js/controller/TweetCtrl.js"></script>
    <script src="/resources/js/controller/CommentCtrl.js"></script>
    <script src="/resources/js/controller/ProfileCtrl.js"></script>
    <link rel="stylesheet" href="/resources/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="TwitterApp">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a>Twitter clone</a></li>
            <li><a href="#tweets">Tweets</a></li>
            <li><a href="#users">Users</a></li>
            <li><a href="#followers">Followers</a></li>
            <li><a href="#following">Following users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div ng-view></div>
</div>

</body>
</html>


