<div ng-controller="UserCtrl">
    <div class="col-sm-2 sidenav">
        <h3>Latest users!</h3>
        <div ng-repeat="u in users">
            <div class="well">
                <a ng-click="showUser(u.id)">{{ u.username }}</a>
            </div>
        </div>
    </div>

    <div class="col-sm-10 sidenav">
        <div class="row">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-8">
                        <h4>{{userDetail.username}}</h4>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>
                            {{userDetail.email}}
                            <br/>
                            <i class="glyphicon glyphicon-gift"></i>
                            {{userDetail.createDate}}
                        </p>
                        <div class="btn-group">
                            <button class="btn btn-primary" ng-click="follow(userDetail)">
                                Follow
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>